/* Basic HTML elements */
body {
    background-color: #ffffe0;
    width: 100%;
    color: #000000;
    font: normal normal normal 9pt sans-serif;
    text-align: left;
    margin: 0px 0px 0px 0px;
    height: 100%;
}

a {
    color: #f7f7f7;
    font: normal normal normal 9pt sans-serif;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

h1 {
    color: #355d0d;
}

h3 {
    color: #800000;
}

/* Specific classes */
.textareaclass, .inputclass, [selected], .selectclass, .fileclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 300px;
}

.hiddeninputclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 300px;
    display: none;
}

.weightinputclass, .heightinputclass, .ageinputclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 40px;
}

.optionclass {
    border: 0px solid #6c6c6c;
    background-color: #cccccc;
    width: 250px;
}

.monthselectclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 100px;
}

.monthoptionclass {
    border: 0px solid #6c6c6c;
    background-color: #cccccc;
    width: 70px;
}

.dayselectclass, .feetselectclass, .inchesselectclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 40px;
}

.dayoptionclass, .feetoptionclass, .inchesoptionclass {
    border: 0px solid #6c6c6c;
    background-color: #cccccc;
    width: 15px;
}

.yearselectclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    width: 70px;
}

.yearoptionclass {
    border: 0px solid #6c6c6c;
    background-color: #cccccc;
    width: 40px;
}

.buttonclass, .searchbuttonclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
}

.feedbackbuttonclass, .loginbuttonclass, .userbuttonclass, .casebuttonclass {
    border: 1px solid #6c6c6c;
    background-color: #cccccc;
    margin-left: 9.4em;
}

.feedbackclass, .loginclass, .searchclass, .adduserclass {
    text-align: left;
}

.logincontentclass {
    white-space: normal;
    text-align: justify;
    margin-left: 10.4em;
}

.errorclass {
    color: #ff0000;
}

.standalonelabelclass {
    width: 10em;
    text-align: left;
    margin-right: 0.5em;
    display: block;
    color: #2a5104;
}

.labelclass {
    width: 10em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block;
    color: #2a5104;
}

.contentclass {
    white-space: normal;
    text-align: justify;
}

.table {
    display: table;
    width: 80%;
    border-spacing: 1px;
}

.hiddentable {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    font: normal normal normal 9pt sans-serif;
    color: #111111;
    text-align: left;
    padding: 2px;
    border: 1px solid #ffffff;
}

.hiddencell {
    display: table-cell;
    font: normal normal normal 9pt sans-serif;
    color: #111111;
    text-align: left;
    padding: 2px;
}

.columnheader {
    display: table-cell;
    font: bold normal normal 12pt sans-serif;
    color: #000000;
    text-align: center;
    padding: 2px;
    border: 1px solid #ffffff;
}

/* Specific divs */
div#container {
    position: relative;
    min-height: 630px;
    height: auto !important;
    height: 630px;
    text-align: left;
    width: 80%;
    background-color: #bdb76b;
}

div#header {
    height: 100px;
    background: #dbdbdb url(../images/missingfilipinos-1000.png) no-repeat left center;
    text-align: left;
}

div#header img {
    margin-top: 0px;
}

div#menu {
    white-space: nowrap;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: left;
    float: right;
    background-color: #f0e68c;
    width: 20%;
    min-height: 530px;
    height: auto !important;
    height: 530px;
}

div#menu li {
    display: block;
    list-style-type: none;
}

div#menu a {
    color: #2f4f4f;
    text-decoration: none;
    display: inline-block;
    font: normal normal normal 14pt sans-serif;
    /*background: url(../images/oval-dark.png) no-repeat center center;
    height: 40px;
    width: 150px;
    padding-top: 10px;
    margin-left: 2px;
    margin-right: 2px;*/
}

div#menu a:hover, div#menu a.chosen {
    color: #008080;
    text-decoration: none;
    display: inline-block;
    font: normal normal normal 14pt sans-serif;
    /*background: url(../images/oval-light.png) no-repeat center center;
    height: 40px;
    width: 150px;
    padding-top: 10px;
    margin-left: 2px;
    margin-right: 2px;*/
}

div#content {
    width: 80%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 60px;
}

div#content img {
    border: 0px;
}

div#content .photoclass {
    border: 1px solid olive;
    height: 150px;
    width: 100px;
}

div#contentitem {
    white-space: nowrap;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: left;
    width: 100%;
}

div#contenthome {
    white-space: nowrap;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: left;
}

div#contenthome li {
    display: inline;
    list-style-type: none;
}

div#contenthome a {
    display: inline-block;
}

div#footer {
    clear: both;
    width: 80%;
    height: 30px;
    margin: 30px auto 0px auto;
    background-color: #424242;
    border: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: normal normal normal 7pt sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

div#link a, div#copyright a {
    font: normal normal normal 7pt sans-serif;
}

div#link li {
    display: inline;
    list-style-type: none;
    padding-left: 1em;
    margin-left: 1em;
    border-left: 1px solid #000000;
}

div#link li:first-child {
    border-left:none
}

div#copyright {
    float: left;
    padding-left: 10px;
    width: 20%;
}

div#link {
    float: right;
    padding-right: 10px;
    width: 49%;
}

div#pagination {
    text-align: center;
}

div#pagination a {
    border: 1px solid #6c6c6c;
    background: #cccccc;
    padding: 2px 5px 2px 5px;
    color: #000000;
    font: normal normal normal 9pt sans-serif;
    text-decoration: none;
}

div#casemenu {
    text-align: left;
    font: normal normal normal 8pt sans-serif;
}

div#casemenu li {
    display: inline;
    list-style-type: none;
    padding-left: .2em;
    margin-left: .2em;
    border-left: 1px solid #000000;
}

div#casemenu li:first-child {
    border-left: none;
}